.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  
  text-align: center;
}
.checkbox:checked + span {
  text-decoration: line-through;
}
.remove {
  cursor: pointer;
  color: red;
  margin-left: 5px;
  font-weight: bold;

}

.items {
  list-style-type: none;
}

.text {
  white-space: pre;
}